<h2>String Interpolation
  <p>{{stringInterpolation}} - {{numberInterpolation}}</p>
</h2>
<hr>

<h2>Property Binding</h2>

<input type="text" value="{{stringInterpolation}}">

<input type="text" [value]="stringInterpolation">

<p [ngClass]="{redBorder: true}">Is this is styled ??</p>

<p [ngClass]="{redBorder: onTest()}">Is this new styled ??</p>

<p [ngStyle]="{color: 'blue'}">Is this styled ??</p>

<h2>Custom propert binding</h2>
<fa-property-binding [result]="10"></fa-property-binding>

<h2>Custom event binding</h2>
<fa-event-binding (clicked)="onClicked($event)"></fa-event-binding>

<h2> Two way binding & Use of @Input </h2>
<fa-two-way-binding [bindable]="boundValue"></fa-two-way-binding>


<button (click)="boundValue = 2000">Click to change binding</button>

<fa-another>
  <p #boundContent>sasasa</p>
</fa-another>